.registerContainer {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.containerForm{
    width: 700px;
    background-color: rgba(118, 156, 57, 0.253);
    border-radius: 10px;
    position: relative;
    padding: 20px;
    text-align: center;
  }

.formHeading{
    font-size: 40px;
    color: #00420f;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: "Sacramento", cursive;
  }

.containerInput{
    width: 100%;
    padding: 10px;
    position: relative;
    z-index: 2;
  }
  .fullWidth {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccce8;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }